# pip install inside server folder
Flask
Flask-Cors
SQLAlchemy
pymysql

# npm packages inside dataTransfer folder
@angular/core
@angular/cli
@angular/common
@angular/forms
@angular/http
@angular/platform-browser
@angular/platform-browser-dynamic
@angular/router
rxjs
zone.js

