 <div class="parentContainer">   
<div class="container">
  <h2>Select Tables to Transfer</h2>
  <button (click)="refreshDbTables()" class="btn">Load Tables</button>
  <form class="form-container">

    <div class="scroll">
    <div *ngFor="let table of sourceTables" class="table-item">
      <input
        type="checkbox"
        [value]="table"
        (change)="onTableSelection($event)"
      />
      {{ table }}
    </div>
    </div>

    <br>

    <label>
      <input type="checkbox" [(ngModel)]="updateTwoRows" name="isTwoRows" >
      Update only 2 rows at a time
    </label>
  
    <br><br>
    <button type="button" (click)="transferData()" class="btn">Transfer</button>
  </form>
</div>

<div class="container">
  <h2>Destination Tables to Transfer</h2>
  <button (click)="refreshDbTables()" class="btn">Load Tables</button>
  <form class="form-container">
    <div *ngFor="let table of destTables" class="table-item">
      {{ table }}
    </div>

    <br>
    <br><br>
  </form>
  <div class="status">{{ status }}</div>
</div>
</div>
<!-- <router-outlet /> -->
